name: Linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docs-lint:
    name: Documentation
    uses: ROCm/rocm-docs-core/.github/workflows/linting.yml@develop
